mi-nav {
  display: block;
  background-color:
    var(--colorMiNav);
	background-color: #9ba5e0;
}

mi-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

mi-nav ul li {
  margin: 0.5rem;
}
